name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - name: Fetch tokei repo's latest commit SHA
        run: |
          source ./bin/fetch-latest-tokei-sha.sh
          echo "LATEST_TOKEI_SHA=${LATEST_TOKEI_SHA}" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@0d103c3126aa41d772a8362f6aa67afac040f80c
        with:
          install: true

      - name: Build Docker image and store in cache
        uses: docker/build-push-action@af5a7ed5ba88268d5278f7203fb52cd833f66d6e
        with:
          context: .
          push: false
          load: true
          tags: exercism/lines-of-code-counter
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: TOKEI_SHA=${{ env.LATEST_TOKEI_SHA }}

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
