name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Fetch tokei repo's latest commit SHA
        id: tokei
        run: |
          latest_sha=$(gh api /repos/exercism/tokei/commits/master --jq '.sha')
          echo "latest_sha=${latest_sha}" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226
        with:
          install: true

      - name: Build Docker image and store in cache
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09
        with:
          context: .
          push: false
          load: true
          tags: exercism/lines-of-code-counter
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: TOKEI_SHA=${{ steps.tokei.outputs.latest_sha }}

      - name: Run Tests in Docker
        run: bin/run-tests-in-docker.sh
